<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/maker"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
  <a href="/logout">Logout</a><a href="/maker">Maker</a>
  </nav>
  <section id="content"></section>
  <h1>Games to Chose From</h1>
  <section>
    <a href="https://pacman.live/play.html"><img src="/assets/img/pac_title.jpg" />Pac-Man</a>
  </section>
  <section>
    <a href="https://www.playemulator.com/nes-online/super-mario-bros/"><img src="/assets/img/mario_bros.png" />Super Mario Bros</a>
  </section>
</body>
</html>